@charset "UTF-8";
/* MRG

Variablen werden in abstracts/* verwendet

18.10.2016 plainkit-mrg

*/
/* MRG

Variablen werden in abstracts/* verwendet

27.10.2016 velove
18.10.2016 plainkit-mrg

*/
/**
 * html5doctor.com 
Reset Stylesheet v1.6.1 
 * Richard Clark 
 * http://cssreset.com
 */
/* line 8, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 21, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 41, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
body {
  line-height: 1;
}

/* line 44, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 48, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
nav ul {
  list-style: none;
}

/* line 51, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 54, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 59, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 67, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 73, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 79, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 82, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 86, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 99, E:/xampp/htdocs/velove/assets/scss/abstracts/_reset.scss */
input, select {
  vertical-align: middle;
}

/*

Now, we can rewrite our example above to use these new mixins.

p {
  @include phone {
    font-size: 18px;
  }

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
  
  @include bigscreen {
    font-size: 18px;
  }
}

*/
@media (min-width: 1px) and (max-width: 767px) {
  /* line 8, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 8, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  /* line 8, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  /* line 8, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
  html {
    font-size: 20px;
  }
}

/* line 42, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
h1 {
  font-size: 2.61792rem;
  line-height: 2.4rem;
  margin-bottom: 0.6rem;
}

/* line 46, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
h2 {
  font-size: 1.618rem;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
}

/* line 50, E:/xampp/htdocs/velove/assets/scss/abstracts/_verticalrhytm.scss */
p, li {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
}

/* line 3, E:/xampp/htdocs/velove/assets/scss/abstracts/_layout.scss */
.lphero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center, center;
  position: fixed;
  z-index: -1;
  top: 0;
}

/* line 13, E:/xampp/htdocs/velove/assets/scss/abstracts/_layout.scss */
.textarea {
  max-width: 35rem;
}

/* Abstraktion: 
ganzes Banner oben, inkl. Navigation
Hier nur die Funktion, das Aussehen wird unter theme/banner gestylt
Menu als Navigationsarea; kann mittels JS aus- und eingeblendet werden

27.10.2016 MRG Fassung für gspi
19.10.2016 MRG Layout und Funktion getrennt
17.03.2016 MRG
21.08.2015 MRG

*/
/* line 12, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
.menu-toggle {
  cursor: pointer;
}

/* line 16, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] {
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}

/* line 26, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] h1 {
  display: inline-block;
}

/* line 30, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] div {
  align-items: center;
  text-align: center;
  flex: 1 0 300px;
}

/* line 35, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] .banlogo {
  flex-shrink: 1;
}

/* line 38, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] a {
  text-decoration: none;
}

/* line 43, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] .exposed {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/* line 47, E:/xampp/htdocs/velove/assets/scss/abstracts/_banner.scss */
header[role=banner] .exposed div {
  flex: 1 1 auto;
}

/* line 3, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea {
  flex: 0 0 100%;
  display: flex;
}

/* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea .areas address, header[role=banner] .navarea .areas .mail {
  margin: 0 auto;
  max-width: 1300px;
  display: none;
  font-style: normal;
  text-align: left;
  padding: 0.6rem 0.809rem 0.6rem 0.809rem;
}

@media (min-width: 1px) and (max-width: 767px) {
  /* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
  header[role=banner] .navarea .areas address, header[role=banner] .navarea .areas .mail {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
  header[role=banner] .navarea .areas address, header[role=banner] .navarea .areas .mail {
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  /* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
  header[role=banner] .navarea .areas address, header[role=banner] .navarea .areas .mail {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  /* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
  header[role=banner] .navarea .areas address, header[role=banner] .navarea .areas .mail {
    width: 80%;
  }
}

/* line 32, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea .areas address p, header[role=banner] .navarea .areas .mail p {
  padding-bottom: 0.6rem;
  line-height: 1.2rem;
}

/* line 39, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.dyn .areas {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 45, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.dyn .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 50, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.dyn li {
  flex: 1 0 9.708rem;
  max-width: 12.944rem;
}

/* line 53, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.dyn li a {
  padding: 0.6rem 0.809rem 0.6rem 0.809rem;
  display: block;
}

/* line 61, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.stat .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 67, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner] .navarea.stat li a {
  padding: 0.6rem 0.809rem 0.6rem 0.809rem;
  display: block;
}

/* line 76, E:/xampp/htdocs/velove/assets/scss/abstracts/_navarea.scss */
header[role=banner]:hover .dyn .areas {
  max-height: 90vh;
}

/* line 1, E:/xampp/htdocs/velove/assets/scss/abstracts/_footer.scss */
footer.footer {
  text-align: center;
  margin-top: 80vh;
  margin-bottom: 20vh;
}

/* line 7, E:/xampp/htdocs/velove/assets/scss/abstracts/_footer.scss */
footer.footer a, footer.footer p {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* line 13, E:/xampp/htdocs/velove/assets/scss/abstracts/_footer.scss */
footer.footer .colophon {
  padding: 0.6rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 16, E:/xampp/htdocs/velove/assets/scss/abstracts/_footer.scss */
footer.footer .colophon b {
  color: red;
}

/*
MRG

Datum: 
26.08.2015, 14.04.2016, 
plainkit-mrg 18.10.2016
velove mit Bourbon und Neat 22.10.2016



*/
/* line 14, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container {
  background-size: cover;
}

/* line 17, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container article, .container .customfz {
  margin: 0 auto;
  max-width: 1300px;
}

@media (min-width: 1px) and (max-width: 767px) {
  /* line 17, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
  .container article, .container .customfz {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 17, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
  .container article, .container .customfz {
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  /* line 17, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
  .container article, .container .customfz {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  /* line 17, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
  .container article, .container .customfz {
    width: 80%;
  }
}

/* line 41, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container .eineSpalte .content, .container .eineSpalte header {
  margin: 0 auto;
  width: 36.618rem;
}

/* line 47, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container .zweiSpalten {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

/* line 54, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container header {
  flex: 1 0 300px;
}

/* line 57, E:/xampp/htdocs/velove/assets/scss/abstracts/_container.scss */
.container .content {
  flex: 2.61792 0 300px;
}

/* MRG

Variablen werden in abstracts/* verwendet

27.10.2016 velove
18.10.2016 plainkit-mrg

*/
/* line 5, E:/xampp/htdocs/velove/customStyle/_layout.scss */
header[role=banner] .navarea.dyn .areas {
  max-height: 10px;
  background-color: red;
}

/*# sourceMappingURL=../css/default.map */