@charset "UTF-8";
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #11519a;
  color: #fff;
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #104c90;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* MRG

Variablen werden in abstracts/* verwendet

18.10.2016 plainkit-mrg

*/
/* MRG

Variablen werden in abstracts/* verwendet

24.10.2016 Gospelchor Inning

*/
/**
 * html5doctor.com 
Reset Stylesheet v1.6.1 
 * Richard Clark 
 * http://cssreset.com
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*

Now, we can rewrite our example above to use these new mixins.

p {
  @include phone {
    font-size: 18px;
  }

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
  
  @include bigscreen {
    font-size: 18px;
  }
}

*/
@media (min-width: 1px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

h1 {
  font-size: 1.5625rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

body header, body .navareas, body footer {
  flex-shrink: 0;
}

body main {
  flex-grow: 1;
}

.stat ul.menu {
  display: flex;
}

.dyn .navareas nav {
  display: none;
}

.dyn .navareas address {
  display: none;
  background-color: red;
}

.dyn .navareas .mail {
  display: none;
}

.side header[role=banner] .bannavi {
  order: 1;
}

.side header[role=banner] .banlogo {
  order: 2;
}

.side header[role=banner] .banpageinfo {
  order: 3;
  flex: 1 auto;
  text-align: right;
}

.side .navareas {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20rem;
  z-index: 999999;
  transform: translateX(-20rem);
  transition: all 0.25s linear;
}

.side .navareas.is-visible {
  transform: translateX(0);
}

.side .sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.side .sliding-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.side .sliding-panel-close {
  cursor: pointer;
}

.lphero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center, center;
  position: fixed;
  z-index: -1;
  top: 0;
}

.textarea {
  max-width: 35rem;
}

/* Abstraktion: 
ganzes Banner oben, inkl. Navigation
Hier nur die Funktion, das Aussehen wird unter theme/banner gestylt
Menu als Navigationsarea; kann mittels JS aus- und eingeblendet werden

18.03.2017 MRG alle 3 Bannertypen verträglich machen
19.12.2016 MRG seitliche Navigation
27.10.2016 MRG Fassung für gspi
19.10.2016 MRG Layout und Funktion getrennt
17.03.2016 MRG
21.08.2015 MRG

*/
.menu, .address, .mail .sliding-panel-button {
  cursor: pointer;
}

header[role=banner] {
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

header[role=banner] h1 {
  padding: 0;
  margin: 0;
}

header[role=banner] .banlogo {
  flex-shrink: 1;
}

header[role=banner] a {
  text-decoration: none;
}

header[role=banner] .bannavi {
  display: flex;
  flex-direction: row;
}

header[role=banner] .bannavi div {
  margin: 0 1.25rem 0 0;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.con_ticker.normal .ticker-wrap,
.con_ticker.accent .ticker-wrap {
  overflow: hidden;
}

.con_ticker.normal .ticker,
.con_ticker.accent .ticker {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.con_ticker.normal .ticker p,
.con_ticker.accent .ticker p {
  display: inline-block;
}

.con_ticker.static {
  text-align: center;
}

.modal label {
  cursor: pointer;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
}

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}

.modal .modal-state {
  display: none;
}

.modal .modal-trigger {
  padding: 0.8em 1em;
}

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999;
}

@media screen and (min-width: 900px) {
  .modal .modal-fade-screen {
    padding-top: 5EM;
  }
}

.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
}

.modal .modal-close::after, .modal .modal-close::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  height: 1.5em;
  width: 1.5em;
  background: #ddd;
  content: "";
  display: block;
  margin: -3px 0 0 -1px;
  transform: rotate(45deg);
}

.modal .modal-close:hover::after, .modal .modal-close:hover::before {
  background: #c4c4c4;
}

.modal .modal-close::before {
  transform: rotate(-45deg);
}

.modal .modal-inner {
  background: #fff;
  border-radius: 3px;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  transition: opacity 0.25s ease;
  width: 95%;
}

@media screen and (min-width: 600px) {
  .modal .modal-inner {
    max-height: 90%;
    padding: 3em;
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .modal .modal-inner {
    width: 80%;
  }
}

.modal .modal-inner h1 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  text-transform: capitalize;
}

.modal .modal-inner p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 0.6rem;
}

.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .modal .modal-inner .modal-intro {
    columns: 2 8em;
  }
}

.modal .modal-inner .modal-intro label {
  color: rgba(0, 0, 0, 0.4);
}

.modal .modal-inner .modal-content {
  color: rgba(0, 0, 0, 0.7);
}

.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

.badge-alert {
  background-color: #fff6bf;
  border-radius: 3.75em;
  color: #8c7800;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge-default {
  background-color: #999;
  border-radius: 3.75em;
  color: black;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge-error {
  background-color: #fbe3e4;
  border-radius: 3.75em;
  color: #97161b;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge-notice {
  background-color: #e5edf8;
  border-radius: 3.75em;
  color: #244e87;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge-success {
  background-color: #e6efc2;
  border-radius: 3.75em;
  color: #56651a;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.dropdown {
  line-height: 0.6rem;
}

.dropdown .dropdown-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.dropdown .dropdown-description {
  background: #fff;
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 3px;
  border-left: 1px solid silver;
  border-top-left-radius: 3px;
  border-top: 1px solid silver;
  color: #999999;
  float: left;
  font-size: 0.7em;
  line-height: 40px;
  margin: 0;
  padding: 0 0.5em 0 1em;
}

@media screen and (min-width: 900px) {
  .dropdown .dropdown-description {
    font-size: 1em;
  }
}

.dropdown .dropdown-button {
  background: #fff;
  border-bottom: 1px solid silver;
  border-bottom-right-radius: 3px;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  border-top-right-radius: 3px;
  cursor: pointer;
  float: right;
  font-size: 0.7em;
  line-height: 40px;
  margin: 0;
  padding: 0 2.5em 0 0.5em;
  position: relative;
}

@media screen and (min-width: 900px) {
  .dropdown .dropdown-button {
    font-size: 1em;
    padding: 0 2.5em 0 0.5em;
  }
}

.dropdown .dropdown-button:hover {
  background-color: #f7f7f7;
}

.dropdown .dropdown-button::after {
  color: #333;
  content: "\25BE";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
}

.dropdown .dropdown-menu {
  background: #fff;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  display: none;
  margin: 0;
  overflow: show;
  padding: 0;
  position: absolute;
  right: 0;
  top: 2em;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
}

.dropdown .dropdown-menu li {
  border-bottom: 1px solid silver;
  color: #333;
  list-style: none;
  padding: 0.5em;
}

.dropdown .dropdown-menu li:hover {
  background: #f7f7f7;
}

.dropdown .dropdown-menu li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dropdown .dropdown-menu li:last-child {
  border: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown .show-menu {
  display: block;
}

.slidebar {
  margin: 0 auto;
}

.slidebar .slidecontent {
  display: flex;
  cursor: pointer;
}

.slidebar .info {
  display: flex;
  align-items: center;
  width: 3em;
  transition: all 0.3s;
}

.slidebar .info div {
  padding: 0 1em;
  min-width: 15rem;
}

.slidebar .info i {
  padding: 0 1em;
}

.slidebar .info:hover {
  width: 12em;
}

.slidebar .titel {
  flex: 1 1 auto;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  padding-left: 2em;
}

.slidebar .titel h2 {
  margin-bottom: 0;
  min-width: 20em;
}

.slidebar .iconbar {
  display: flex;
  align-items: center;
  right: 0;
}

.slidebar .iconbar i {
  padding-right: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1em;
}

.cards .card {
  flex: 1 0 20em;
  margin: 0 1em;
  display: inline-block;
}

.cards .card:hover {
  transition: all ease 0.3s;
  box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.4);
}

.cards .card-image {
  overflow: hidden;
}

.cards .card-image img {
  width: 100%;
  padding-bottom: 1.2rem;
}

footer.footer {
  text-align: center;
  margin-top: 80vh;
  margin-bottom: 20vh;
}

footer.footer a, footer.footer p {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  line-height: 1.2rem;
}

footer.footer .colophon {
  padding: 0.6rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}

footer.footer .colophon b {
  color: red;
}

.footerExt {
  flex: 0 0 auto;
  padding: 1.2rem;
  background: #243f65;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerExt .footer-primary-links,
.footerExt .footer-secondary-links,
.footerExt ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footerExt li {
  margin-bottom: 0;
  margin-right: 0.625rem;
}

.footerExt a {
  color: rgba(255, 255, 255, 0.4);
}

.footerExt a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.footerExt .footer-logo img {
  height: 2.4rem;
  margin-right: 0.625rem;
}

.footerExt .footer-secondary-links li {
  font-size: 0.8em;
}

/*
MRG

Datum: 
26.08.2015, 14.04.2016, 
plainkit-mrg 18.10.2016
velove mit Bourbon und Neat 22.10.2016



*/
.container,
.con_design {
  background-size: cover;
  padding-bottom: 2.4rem;
}

.container article, .container .customfz,
.con_design article,
.con_design .customfz {
  margin: 0 auto;
  max-width: 1300px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .container article, .container .customfz,
  .con_design article,
  .con_design .customfz {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container article, .container .customfz,
  .con_design article,
  .con_design .customfz {
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .container article, .container .customfz,
  .con_design article,
  .con_design .customfz {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .container article, .container .customfz,
  .con_design article,
  .con_design .customfz {
    width: 80%;
  }
}

.container .eineSpalte .content, .container .eineSpalte header,
.con_design .eineSpalte .content,
.con_design .eineSpalte header {
  margin: 0;
  max-width: 36.25rem;
}

.container .zweiSpalten,
.con_design .zweiSpalten {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.container header,
.con_design header {
  flex: 1 0 300px;
}

.container .content,
.con_design .content {
  flex: 1.25 0 300px;
}

.container .newarea,
.con_design .newarea {
  margin-bottom: 2.4rem;
}

.container.hero,
.con_design.hero {
  height: 100vh;
}

.container.hero article,
.con_design.hero article {
  padding: 40vh 5vw 0 5vw;
}

.container.hero article h1,
.con_design.hero article h1 {
  color: white;
}

header[role=banner] {
  border-bottom: 1px solid black;
  padding: 0.6rem 0.625rem 0.6rem 0.625rem;
  background-color: rgba(0, 0, 0, 0.5);
}

header[role=banner] p, header[role=banner] a, header[role=banner] a:visited {
  color: rgba(255, 255, 255, 0.8);
}

header[role=banner] .bannavi {
  font-size: 1rem;
  line-height: 1.2rem;
  line-height: 2.4rem;
}

header[role=banner] li {
  display: inline-block;
  transition: background 0.5s ease;
}

header[role=banner] li:hover {
  text-decoration: none;
  background: none;
}

header[role=banner] li:hover a {
  color: white;
}

header[role=banner] li a {
  font-size: 1rem;
  line-height: 1.2rem;
}

.dyn li {
  margin: 0.6rem 0.625rem 0.6rem 0.625rem;
  background-color: white;
}

.banpageinfo span {
  margin-left: 0.625rem;
}

article {
  background-color: white;
}

article header {
  margin-bottom: 1.2rem;
}

article header h1 {
  font-size: 1.95313rem;
  line-height: 3rem;
}

article header .subline {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

article .zweiSpalten .newarea {
  padding: 0.6rem 0.625rem 0.6rem 0.625rem;
}

.con_ticker {
  margin: 0.6rem 0 0.6rem 0;
}

.con_ticker.accent .ticker-wrap {
  background-color: #002e39;
  color: white;
}

.ticker-wrap {
  border: 0.6rem solid white;
}

.ticker-wrap p {
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 0;
}

header[role=banner] {
  border-bottom: 1px solid black;
  padding: 0.6rem 0.625rem 0.6rem 0.625rem;
  background-color: white;
}

header[role=banner] h1, header[role=banner] p, header[role=banner] a, header[role=banner] a:visited {
  color: rgba(0, 0, 0, 0.7);
}

header[role=banner] .banpageinfo p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

header[role=banner] .bannavi {
  font-size: 1rem;
  line-height: 1.2rem;
}

header[role=banner] ul {
  margin-top: 0.6rem;
}

header[role=banner] li {
  line-height: 1em;
  display: inline-block;
  border-bottom: 5px solid transparent !important;
  transition: border-bottom-color 0.5s ease-in-out;
}

header[role=banner] li.active {
  border-bottom-color: #00728f  !important;
}

header[role=banner] li:hover {
  border-bottom-color: rgba(0, 114, 143, 0.5) !important;
}

header[role=banner] li:hover a {
  color: #00728f;
}

header[role=banner] li li a {
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 0;
}

header[role=banner] li ul {
  margin-top: 0;
}

header[role=banner] .menu-float {
  line-height: 2.4rem;
}

.wrapper {
  padding-top: 0.6rem;
}

article {
  background-color: white;
}

article header .subline {
  font-size: 1rem;
  line-height: 1.2rem;
}

article header h1 {
  font-size: 1.95313rem;
  line-height: 3rem;
}

article .content {
  flex-grow: 2;
}

article img {
  margin-bottom: 0.6rem;
}
