// Das ist das ganze Feld, das die Navigation anzeigt
header[role=banner] {
  .navarea{
    flex: 0 0 100%;
    display:   flex;
    .areas{
      address, .mail{
        margin: 0 auto;

        @include phone {
        width: $con_breite_phone;
      }

      @include tablet {
        width: $con_breite_tablet;
      }

      @include desktop {
        width: $con_breite_desktop;
      }

      @include bigscreen {
        width: $con_breite_desktop;
      }

      max-width: $con_breite_max;
      display: none;
      font-style: normal;
      text-align: left;
      @include abst_padding(1);

      p{
        padding-bottom: $abst_u;
        line-height: $base-line-height *2;
      }
      }
    }
    &.dyn{
      .areas{
        max-height: 0;
        overflow: hidden;
        @include transition(all $transition-dauer ease-in-out);
        @include transition-delay($transition-delay);
      }
      .menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;    
      }
      li {
        flex: 1 0 6 * $grid;
        max-width: 8 * $grid;
        a{
          @include abst_padding(1);
          display: block;
        }
      }
    }
        
    &.stat{
      .menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;    
      }
      li {
        a{
          @include abst_padding(1);
          display: block;
        }
        &.active{
        }
      }
    }
  }
  &:hover .dyn .areas{
    max-height: 90vh;
  }
}


  
